/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #ff7f50;
}

/* Section Styles */
section {
    padding: 60px 0;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    position: relative;
}

h2::after {
    content: '';
    display: block;
    width: 80px;
    height: 3px;
    background: #333;
    margin: 10px auto;
}

/* Project Section */
.projects-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-card {
    background-color: #fff;
    padding: 20px;
    width: 45%;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.project-card p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.project-link {
    display: inline-block;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.project-link:hover {
    background-color: #ff7f50;
}

/* Skills Section */
.skills-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skills-list li {
    font-size: 1.2rem;
    margin: 15px 0;
    transition: color 0.3s ease;
}

.skills-list li i {
    margin-right: 10px;
}

.skills-list li:hover {
    color: #ff7f50;
}

/* Contact Section */
.contact-section p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.social-links {
    list-style: none;
    padding: 0;
    text-align: center;
}

.social-links li {
    display: inline-block;
    margin: 0 15px;
}


.social-logo {
    width: 30px; /*Default width for the logos*/
    height: 30px; /*Default height for the logos*/
    transition: transform 0.3s ease; /* Animation for hover */
}



/* Here there were something */

.social-logo:hover {
    transform: scale(1.1); /* Scale up on hover for interaction */
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

footer p {
    margin: 0;
}

